*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    background: url("../img/qiang.png");
    background-size: contain;
}
.screen{
    width: 100%;
    height: 7.94rem;
    background: url("../img/scen.png");
    background-size: contain;
    position: relative;
}
.letter{
    width: 0.53rem;
    height: 0.77rem;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.keyBox{
    width: 100%;
    height: 5.22rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: url("../img/Key.png");
    background-size: contain;
}
.keyBox .keyCon{
    width: 7rem;
    height: 4rem;
    background: rgba(27,69,205,.8);
    margin: .61rem auto;
    display: flex;
    flex-wrap: wrap;

}
.keyBox .keyCon .btn{
    width: .5rem;
    height: .8rem;
    background: url("../img/Letter.png");
    background-size: contain;
    font-size: .3rem;
    font-weight: bold;
    text-align: center;
    line-height: .8rem;
    margin: .2rem .1rem;
    box-shadow: .01rem .01rem .1rem .05rem rgba(200,200,200,.8);
}
.keyBox .keyCon .btn:nth-child(11){
    margin-left: .5rem;
}
.keyBox .keyCon .btn:nth-child(20){
    margin-left: 1.2rem;
}
.cloud{
    width: 4.95rem;
    height: .56rem;
    background: url("../img/clound_06.png");
    background-size: contain;
    position: fixed;
    top: .9rem;
    left: 0;
    transition: all .5s;
    animation: translate 1s linear infinite alternate;
    /*alternate返回*/
}
@keyframes translate {
    to{
        transform: translateX(2.55rem);
    }
}

.key{
    width: 1.22rem;
    height: auto;
    position: fixed;
    top: 2.88rem;
    right: .24rem;
}
.key li{
    width: 1.22rem;
    height: 1.2rem;
    margin-bottom: .2rem;
    font-size: .5rem;
    text-align: center;
}
.key li:last-child{
    width: 0.98rem;
    height: .98rem;
    margin: 0 auto;
}
.life{
    background-image: url("../img/Health.png");
    background-size: contain;
}
.point{
    background-image: url("../img/Point.png");
    background-size: contain;
}
.c{
    background-image: url("../img/Pause.png");
    background-size: contain;
}
.zt{
    background-image: url("../img/Play.png");
    background-size: contain;
}

.bgMusic{
    width: .5rem;
    height: .5rem;
    position: fixed;
    top: .3rem;
    right: .24rem;
    background-image: url("../img/Aplay.png");
    background-size: contain;
}
.bgMusic_guan{
    background-image: url("../img/Apause.png");
}
.zhezhao{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 99;
}
.gameOver{
    width: 4.30rem;
    height: 4.49rem;
    background-image: url("../img/gameover.png");
    background-size: 4.3rem 4.49rem;
    position: fixed;
    top: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: height .2s linear;
    overflow: hidden;

    text-align: center;
}
.gameOver span{
    font-size: 0.5rem;
    color: red;
    position: absolute;
    top: 2.5rem;
    left: 2rem;
}
.gameOver .btn2{
    width: 2.63rem;
    height: 0.6rem;
    /* background-image: url("../img/btn.png"); */
    background-size: contain;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0.5rem;
    background-image: linear-gradient(#26E30D,#22A511);
    font-size: 0.4rem;
    text-align: center;
    color: #fff;
    line-height: 0.6rem;
}
.start{
    width: 100%;
    height: 100%;
}